body{
    background-image: url(https://ak.picdn.net/shutterstock/videos/1074225410/thumb/1.jpg?ip=x480);
}
header{
    background-color: black;
    position: fixed ;
    margin-top: -290px;
    width: 100%;
    left: 0%;
    padding-bottom: 10px;
}

h1{
    text-shadow: 2px 2px 8px white;
}

header>h1{
    text-align: center;
    color:white;
}

img{
    height: 150px;
    width: 250px;
    border-radius: 20% 20% 20% 20%;
    margin-left: 120px;
    box-shadow: 5px 5px white;
}

input{
    border-radius: 110px 110px 110px 110px;
}

textarea{
    border-radius: 10px 10px 10px 10px;
}

button{
    border-radius: 5px 5px 5px 5px;
}

.lktba{
    position: absolute;
}

.contact{
    position: absolute;
}

.lwsst{
    margin-top: 280px;
    padding-top: 20px;
    display: flex;
}

input{
    width: 100%;
}

textarea{
    width: 100%;
    height: 150px;
}

.droit{
    border: 1px solid black;
    border-right: 0px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: auto;
    position: fixed;
    right: 0%;
    background-color: #a1d0e4;
    border-radius: 10% 0% 0% 10%;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-top: none;
}

.gauche{
    margin-right: 20%;
}

footer{
    background-color: black;
    position: sticky;
    bottom: 0%;
    width: 100%;
    height: 40px;
    margin-left: -8px;
    padding-right: 15px;
    margin-bottom: -10px;
    padding-top: 0.01px;
}

footer:has(p){
    text-align: center;
    color: white;
}

.gauche{
    margin-top: -80px;
}

button{
    position: relative;
}